DOWNLOAD_AUDIO_ONLY=true
SLSKD_INCOMPLETE_DIR=/data/downloads-slskd/incomplete/
SLSKD_COMPLETE_DIR=/data/downloads-slskd/complete/
SLSKD_ROOT=https://slskd.example.com
QBITSLSKD_ROOT=https://qbitslskd.example.com
GEMINI_API_KEY=...
DELETE_SEARCHES=true